/* Global */
*{
    max-width: 100%;
    
}
/* Clear fix */
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    overflow-x: hidden;
}

/* Header */
.logo{
    cursor: pointer;
    width: 200px;
    margin-right: auto;
    float: left;
}

.navbar  li, a.menubar{
    font-size: 15px;
    color:white;
    text-decoration: none;
    font-weight: bolder;
}

.navbar li{
    float: left;
}

ul.nav_bar{
    list-style-type: none;
    margin-left: 200px;
    padding: 0;
    overflow: hidden;
}

li a.menubar{
    display: inline-block;
    padding: 14px;
    text-align: center;
    margin-left: 0px;
}

header{
    padding: 10px 10%;
    background-color:#D6001C;
    box-shadow: 0px 3px #FA8003;
    margin-left: -30px;
    margin-right: 0;
}

.nav_bar{
    list-style: none;
    background-color:#D6001C;
}

.nav_bar li {
    display: inline-block;
    padding: 0px 25px;
}

a.menubar .ordernow{
    float:right;
    display: inline;
    margin-right: -30px;
    margin-top: -65px;
}

.ordernow{
    padding : 15px 30px;
    font-size: 20px;
    background-color: #FA8003;
    cursor: pointer;
    border: none;
    border-radius: 90px;
    width: 100px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ordernow:hover{
    background-color: #fa7e03b9;
}

/* Main */
main{
    margin-top: 2px;
    background-color: rgb(255, 255, 255);
    

/* Top Banner */
}
.banner img.homebg{
    max-width: 100%;
    height: auto;
}

.banner{
    position: relative;
    text-align: center;

}

.banner_content{
    position: absolute;
    width: 100%;
    top: 0;
    color: white;
    padding: 10px;
    margin-left: -300px;
    margin-top: 100px;
    font-size: larger;
    font-style:bold;
}

.infrontbanner span{
    display: block;
    font-style: bold;
    font-size: 45px;
    margin-bottom: 30px;
}



a.order_now2{
    font-size: 20px;
    color:white;
    text-decoration: none;
    font-weight: bolder;
}

.ordernow2{
    padding : 15px 30px;
    font-size: 30px;
    background-color: #FA8003;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    width: 150px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ordernow2:hover{
    background-color: #fa7e03b9;
}

/* 2nd slide */

div.secondline{
    padding: 20px;
    border: 0px;
    margin: 0 auto;
    max-width: 100%;
    float: left;
    margin-left: 300px;
    border-style: none none solid none;
    border-width: 1px;

}

div.circlepic{
    margin: 5px;
    float: left;
    text-align: center;
    padding: 10px 50px;
}

div.circlepic img{
    width: auto;
    height: auto;
}

.c2{
    margin: 10px 3px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: bold;
}

/* third line */

.thirdline{
    margin-top: 350px;
}
.h2_2{
    text-align: center;
    font-size: 30px;
}

.img2{
    width: 20%;
    margin: 0 20px;
    position: relative;
    left: 230px;
    border-radius: 30px;
}

a.seeall{
    color:white;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
}

.sap{
    padding : 20px 50px;
    font-size: 22px;
    background-color: #FA8003;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    width: 150px;
    margin: 10px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sap:hover{
    background-color: #fa7e03b9;
}

/* fourth line */
.fourthline{
    background-color: #FFEAB8;
    text-align: center;
    max-width: 100%;
    height: 630px;
    padding-bottom: 30px;
    padding-left: 20px;
    
}

h1.featuredmenu{
    padding: 30px 0 20px 0;
    font-weight: bold;
}

div.c3{
    color: white;
    height: 350px;
    width: 350px;
    padding: 10px 20px 50px 20px;
    border-radius: 20px;
    margin: 0 30px 30px 20px;
    float:left;
    text-align:center;
    position: relative;
    left: 90px;
    line-height: 35px;
    overflow: hidden;
}

div.c3_1{
    background-color:#D6001C;
}

div.c3_2{
    background-color:#fcb900;
}

div.c3_3{
    background-color: #009CA6;
}

.c4 span{
    display: block;
    font-style: bold;
    font-size:30px;
}

div.c3_2 img{
    margin-top: 50px;
}

h2.c4{
    font-size: 20px;
    text-align: left;
}

a.viewmenu{
    color:white;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
}

.vm{
    padding : 20px 40px;
    font-size: 22px;
    background-color: #FA8003;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    width: 150px;
    margin: 20px auto;
    clear: both;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vm:hover{
    background-color: #fa7e03b9;
}

/* Fifth Line */
.fifthline{
    float: left;
    width: 100%;
    height: 500px;
    padding: 5px;
    text-align: center;
    margin-top: 30px;
}

div.c5_1{
    position: absolute;
    left: 400px;
}

div.c5_2{
    position: absolute;
    right: 400px;
}

div.c5_1 img{
    box-shadow: 40px 20px #FA8003;
    border-radius: 20px;
    margin-bottom: 30px;
}

div.c5_2 img{
    box-shadow: -40px 20px #D6001C;
    border-radius: 20px;
    margin-bottom: 30px;
}

h1.c5_3{
    padding-bottom: 20px;
    border-style: none none solid none;
    border-width: 5px;
    border-color: #FA8003;
}

h1.c5_4{
    padding-bottom: 20px;
    border-style: none none solid none;
    border-width: 5px;
    border-color: #D6001C;
}

p.c6_6{
    position: absolute;
    width: 300px;
    left: -15px;
    margin-top: -1px;
    padding: 0px  20px;
    text-align: center;
}

p.c6_7{
    position: relative;
    width: 300px;;
    padding: 0px  20px;
    text-align: center;
}

.c5 p{
    margin-bottom: 100px;
}

hr.hr1{
    border-top: 3px solid #FA8003;
}

/* Footer */
footer{
    max-width: 100%;
}

.contentf{
    max-width: 100%;
}
div.f1{
    max-width: 100%;
    margin-bottom: 100px;
    
}
footer img.imgfooter{
    width: 250px;
    margin-left: 150px;
    margin-top: 20px;
}

.footerorder{
    float: right;
    margin-right: 90px;
    max-width: 100%;
    padding : 15px 50px;
    font-size: 20px;
    background-color: #FA8003;
    cursor: pointer;
    border-radius: 90px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footerorder:hover{
    background-color: #fa7e03b9;
}

a.footerbar{
    font-size: 20px;
    color:white;
    text-decoration: none;
    font-weight: bolder;
}

/* Belom logo at footer */

.footer-row{
    width: 100%;
}
div.sosmed img{
    width: 40px;
    padding: 0 5px;
}


div.footer-row{
    max-width: 100%;
    margin-left: 150px;   
    position: absolute;
}

.footer-col ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 30px;
} 

.footer-row a{
    text-decoration: none;
    color: black;
}

div.col1{
    float: left;
    width: 300px;
    margin-bottom: 20px;
}

div.col2{
    float: left;
    width: 200px;

}

div.col3{
    float: left;
    width: 200px;
}

div.col4{
    float: left;
    width: 200px;
}

div.app{
    width: 200px;
    float: right;
    margin-right: 230px;
    margin-top: -150px;
}




















